<footer class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <img src="/images/logo_blue.png" alt="logo">
            <h3>Easy Navigate:</h3>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/lmap">Map</a></li>
                <li><a href="/reservations">Reservations</a></li>
                <li><a href="/labout">About</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <div class="contact-form">
                <h3>Contact Form</h3>
                <form>
                    <input type="text" placeholder="Full Name" required>
                    <input type="email" placeholder="Email" required>
                    <textarea placeholder="Message" required></textarea>
                    <div class="terms-checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">I accept the <a href="/terms">Terms & Conditions</a></label>
                        
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>

        <div class="footer-section">
            <div class="contact-info">
                <h3>Address:</h3>
                <p>Kanglung, Trasghigang</p>
                
                <h3>Contact:</h3>
                <p>+975-17468810</p>
                
                <h3>Email:</h3>
                <p>kanglungdine123@gmail.com</p>
            </div>
        </div>
    </div>

    <div class="social-section">
        <h3>FOLLOW US on:</h3>
        <div class="social-icons">
            <a href="#" aria-label="TikTok"><i class="bi bi-tiktok"></i></a>
            <a href="#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
            <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 KanglungDine</p>
    </div>
</footer>